@{
  Layout = "_Layout";
}
    <h1>COUNTRY FILTER</h1>

    <a href="/city">Click here to view Cities</a>
    <form action="/filter-countries" method="post">
    <div class="row">
      <div class="form-group col-sm-4">
        <label for="code">Filter by country code</label>
        <input class="form-control" name="code" type="text">
      </div>

      <div class="form-group col-sm-4">
        <label for="name">Filter by name</label>
        <input class="form-control" name="name" type="text">
      </div>

      <div class="form-group col-sm-4">
        <label for="continent">Filter by continent</label>
        <input class="form-control" name="continent" type="text">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-4">
        <label for="region">Filter by region</label>
        <input class="form-control" name="region" type="text">
      </div>

      <div class="form-group col-sm-4">
        <label for="min-pop">Minimum Population:</label>
        <input class="form-control" type="number" name="min-pop" min=0>
      </div>

      <div class="form-group col-sm-4">
        <label for="max-pop">Maximum Population:</label>
        <input class="form-control" type="number" name="max-pop" min=0>
      </div>
    </div>

      <button type="submit" class="btn btn-primary">Submit filter criteria</button>
    </form>

    <div class="output">
      <table class="table table-bordered header-fixed">
        <thead>
          <tr>
            <th>Country Code</th>
            <th>Name</th>
            <th>Continent</th>
            <th>Region</th>
            <th>Population</th>
          </tr>
        </thead>

        <tbody>
          @foreach (var country in Model)
          {
            <tr>
              <td class="col-sm-2">@country.GetCode()</td>
              <td class="col-sm-3">@country.GetName()</td>
              <td class="col-sm-2">@country.GetContinent()</td>
              <td class="col-sm-2">@country.GetRegion()</td>
              <td class="col-sm-2">@country.GetPopulation()</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
